div{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-color: #EEE;
    border: 1px solid #CCC;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50px;
}