* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    direction: ltr;
}

div {
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    position: absolute;
    -webkit-animation: coloring 5s 5 linear;
    animation: coloring 5s 5 linear;
}

@keyframes coloring {
    /* from {
        background-color: dodgerblue;
    }
    to {
        background-color: fuchsia;
    } */
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 200px;
    }
    50% {
        top: 200px;
        left: 200px;
    }
    75% {
        top: 200px;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}


@-webkit-keyframes coloring {
    /* from {
        background-color: dodgerblue;
    }
    to {
        background-color: fuchsia;
    } */
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 200px;
    }
    50% {
        top: 200px;
        left: 200px;
    }
    75% {
        top: 200px;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}