* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    direction: ltr;
}

.container {
    width: 500px;
    height: 400px;
    margin: 50px auto;
    background-color: #EEE;
    display: flex;
}

.container div {
    width: 150px;
    background: #080;
    max-height: 100px;
}

.container .one {
    background-color: #080;
}

.container .two {
    background-color: #00F;
    flex-shrink: 0;
}

.container .three {
    background-color: #F00;
    flex-shrink: 3
}

.container .four {
    background-color: #e4b016;
}
